<section class='container'>
  <h1 id='title'>rl-year-picker Demo</h2>

  <p>The documentation for this component is available <a href="https://github.com/rsschermer/ember-rl-year-picker">here</a>.</p>

  <p>The source for this demo is available
    <a href="https://github.com/rsschermer/ember-rl-year-picker/tree/gh-pages/demo-app">here</a>.
  </p>

  <p>The left year picker is in standard mode, the right is using flat mode. Both year pickers are bound to the same
    year property on the controller, so if one changes, the other changes as well.
  </p>

  <p>{{rl-year-picker year=year}}</p>

  <p>{{rl-year-picker year=year flatMode=true}}</p>
</section>
